* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-size: 24px;
  background-color: rgb(233, 209, 166);
  color: rgb(7, 37, 37);
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}

.header {
  position: fixed;
  width: 100%;
  top: 0px;
}
.navbar {
  background-color: orange;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 32px;
  width: 100%;
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  margin: 0px;
}

.menu a {
  text-decoration: none;
  line-height: 1cm;
  color: wheat;
  font-size: 18px;
  padding: 4px 10px;
  margin: 0px 10px;
  border: 0px;
  border-radius: 12px;
}

.menu .active a {
  background-color: rgb(126, 109, 77);
}

.menu a.active {
  background-color: rgb(126, 109, 77);
}
.menu a:hover {
  background-color: rgb(126, 109, 77);
}

.logo {
  font-size: 26px;
  color: wheat;
  text-decoration: none;
  text-transform: uppercase;
}
.logo a {
  text-decoration: none;
  color: wheat;
}

.logo :hover {
  color: rgb(126, 109, 77);
}

.section {
  max-width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  padding-top: 26px;
  margin: 0%;
}

.start {
  background-color: rgb(233, 209, 166);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 170px 0px 190px 0px;
  width: 100%;
  margin: 0;
}
.startright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.startright img {
  border: 0px;
  border-radius: 18px;
}

.startleft {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
  font-size: 70px;
  color: orange;
 
}

.aboutme {
  background-color: orange;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 0%;
  padding: 60px 0px 100px 0px;
}
.nextright {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 24px;
  color: rgb(76, 20, 20);
  background-color: orange;
}

.h1 {
  font-size: 50px;
  padding-bottom: 10px;
  color: wheat;
  font-weight: bolder;
}
.nextleft {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  margin: 0%;
  font-size: 30px;
}

.nextleft img {
  border: 0px;
  border-radius: 25px;
}

.hobby {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 75px 0px 90px 0px;
}

.listmain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}
.listmain h2 {
  color: orange;
  text-transform: uppercase;
  font-size: 50px;
}
.list {
  font-size: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  color: rgb(76, 20, 20);
}
.list h2 {
  color: orange;
}
.photohob {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0%;
  gap: 10px;
 
}

.photohob img {
  border: 0px;
  border-radius: 20px;
}
.photohob1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.photohob2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.portfolio {
  background-color: orange;
  width: 100%;
  margin: 0;
}

.portfolio h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-transform: uppercase;
  color: wheat;
  padding-top: 70px;
  padding-bottom: 70px;
  margin: 0;
}

.portfolio1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 20px;
  margin: 0;
}

.portfolio img {
  border: 0px;
  border-radius: 30px;
}

.portfolio2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 65px;
  margin: 0;
}

.portfolio3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 65px;
  margin: 0;
}

.contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contacts h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: orange;
  padding-left: 30px;
  text-transform: uppercase;
  font-size: 35px;
  padding-top: 50px;
  padding-bottom: 60px;
}
.linklist2 {
  display: flex;
  flex-direction: column;
  align-items: inherit;
  font-size: 19px;
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  color: white;
}
.link img {
  filter: invert(10%);
  filter: opacity(50%);
}

.list2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: brown;
  font-weight: 600;
  list-style: none;
  
  margin-right: 20px;
}
.end {
  display: flex;
  flex-direction: column;
  align-items: initial;
  margin-top: 50px;
  margin-bottom: 60px;
}
.return {
  text-transform: uppercase;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.return a {
  border: 0px;
  border-radius: 16px;
  text-decoration: none;
  color: orange;
  font-size: 23px;
  padding: 20px;
}

.return a:hover {
  background-color: rgb(126, 109, 77);
  color: wheat;
}


.burger { 
  background: transparent; 
  border: none; 
  outline: none; 
  cursor: pointer; 
  padding-right: 20px; 
  display: none; 
  } 
  .line { 
    width: 32px; 
    height: 4px; 
  background-color: rgb(100, 96, 96); 
  margin: .5em; 
  transition: .3s ease-in-out;; 
  }  