* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-size: 18pt;
  background-color: rgb(233, 209, 166);
  color: rgb(7, 37, 37);
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}

.header {
  position: fixed;
  width: 100%;
  top: 0px;
}
.navbar {
  background-color: orange;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 32px;
  width: 100%;
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  margin: 0px;
}

.menu a {
  text-decoration: none;
  line-height: 1cm;
  color: wheat;
  font-size: 18px;
  padding: 4px 10px;
  margin: 0px 10px;
  border: 0px;
  border-radius: 16px;
}
.menu a:hover {
  background-color: rgb(126, 109, 77);
}
.logo {
  font-size: 26px;
  color: wheat;
  text-decoration: none;
  text-transform: uppercase;
}

.logo :hover {
  color: rgb(126, 109, 77);
}

.top {
}
.section {
  min-height: 100vh;
  min-width: 100vh;
  max-width: 100vh;
  padding-top: 26px;
  margin: 0%;
  width: 100%;
}

.start {
  background-color: rgb(233, 209, 166);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.startright {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 120px 30px;
  gap: 15px;
}
.startleft {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 120px 30px;
  margin: 0px;
  font-size: 70px;
  color: orange;
}

.aboutme {
  background-color: orange;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0%;
}
.nextright {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 28px;
  white-space: nowrap;
  background-color: orange;
}
.nextright h1 {
  color: wheat;
}

.nextleft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;
  margin: 0%;
}

.hobby {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.list {
  font-size: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.list h2 {
  color: orange;
}
.photohob {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0%;
  padding: 0;

  gap: 10px;
}
.photohob1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.photohob2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.contacts {
  background-color: orange;
  padding: 0%;
  width: 100%;
}

.contacts h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: wheat;
}

.linklist2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 30px;
  font-size: 18px;
  text-decoration: none;
  list-style: none;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
